* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 160px;
}

.header .top {
    width: 100%;
    height: 120px;
}


.header .bot {
    width: 100%;
    height: 30px;
    border: 1px solid black;
    margin-top: 5px;
}


.top .logo {
    height: 100%;
    width: 25%;
    border: 1px solid black;
    float: left;
}

.top .banner {
    height: 100%;
    width: calc(75% - 3px);
    border: 1px solid black;
    margin-left: 3px;
    float: left;
}