<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Website</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div class="header">
        <div class="top">
            <div class="logo"></div>
            <div class="banner"></div>
        </div>
        <div class="bot"></div>
    </div>
    <div class="main">
        <div class="menu">
            <div class="menu-1"></div>
            <div class="menu-2"></div>
        </div>
        <div class="content">
            <div class="top"></div>
            <div class="bot">
                <div class="new"></div>
                <div class="new"></div>
                <div class="new"></div>
                <div class="new"></div>
                <div class="new"></div>
                <div class="new"></div>
            </div>
        </div>
        <div class="more">
            <div class="calender"></div>
            <div class="chart"></div>
            <div class="map"></div>
        </div>
    </div>
    <div class="footer"></div>
</body>

</html>